*{
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background: rgb(19,173,212);
background: linear-gradient(90deg, rgba(19,173,212,0.6615896358543417) 15%, rgba(28,21,162,1) 50%, rgba(0,212,255,1) 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    position: relative;
    width: 100%;
    max-width: 800px;
    /* min-height: 500px; */
    padding: 60px;
    border-radius: 70px;
    color: #f2eeee;
    background: #76a9e6;
    box-shadow: 0 10px 10px rgba(147, 116, 116, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

input[type = "text"] {
    font-size: medium;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 80%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}


li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background-color: #c82f3e;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}